// Imports
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");


// Define variables
$primaryColor: #3f51b5;
$secondaryColor: #ff9800;
$white: #fff;
$layoutMaxWidth: 1700px;

$fontFamily: "Roboto", sans-serif;
$fontSizeBase: 0.925rem;
$baseColor: #66f;
$textDark: #3c4250;
$borderColor: #eceef3;